:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}


.third-party-component {
    box-sizing: content-box;
}


body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}


main {
    display: block;
}


.main {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .5em;
    float: left;
    width: 70%;

}


.sidebar {
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}